<form leaving-page leaving-page-message="Sure to leave the page?" container-with-links="container-with-a">
    <div class="form-group centered-form" >
        <h2><label for="exampleInputEmail1">Type anything to make a change </label></h2>
        <input unsaved-element type="text" class="form-control"  placeholder="Could type your name :)" ng-model="demo.yourName">
        <h2><label for="">Type anything to make a change </label></h2>
        <input unsaved-element type="checkbox" class="form-control" ng-model="demo.checkName">
    </div>
    <div class="group-form centered-form container-with-a"> 
        <a href="#/other" class="btn btn-primary btn-lg">Leave page!</a>   
        <a href="http://google.com" class="btn btn-primary btn-lg">Leave page to  google!</a>   
    </div>
</form>    
